body {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	background-color: black;
}

a {
		color: yellow;
}

p {
	color: #999999;
}

h1 {
	color:#ff66ff;
}

h2, h3, h4, h5, h6 {
  margin-top:0em;
  margin-bottom:0em;
}

h3, h4, h5, h6 {
	color: #bfbfbf;
}

img {
  display: block;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

ul {
    list-style-position: inside;
		color: #999999;
}
